@model IEnumerable<EpitomelHotel.Models.Bookings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    
    <div class="form-actions no-color">


        <p>
            <label>Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-outline-dark" style="color: white" /> |
            <a class="btn btn-primary" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table table-bordered" style="color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplUser.Firstname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
