@model IEnumerable<EpitomelHotel.Models.Rooms>

@{
    ViewData["Title"] = "Index";
}

<h1>Rooms</h1>


<table class="table table-bordered" style="color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            
           
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.RoomID">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.RoomID">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RoomID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
