@model IEnumerable<EpitomelHotel.Models.BookingService>

@{
    ViewData["Title"] = "Index";
}

<h1>BookingService</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered" style="color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingServiceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingServiceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingServiceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
