@model IEnumerable<EpitomelHotel.Models.BookingService>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered" style="color: white">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BookingServiceID">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BookingServiceID">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookingServiceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
